<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="offnibuehni" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Offni Bühni Küssnacht</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="offnibuehni.css">

    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar" ng-controller="NavigationController">
    <div class="container">
        <div class="header-wrapper">
            <div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" ng-click="mobileMenuCollapsed = !mobileMenuCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="event_aktuell">
                        <img alt="Brand" src="img/logo.png">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" collapse="mobileMenuCollapsed">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active">
                            <a ui-sref="event_aktuell">Aktuell</a>
                        </li>
                        <li ng-class="{active : (status.current.name === 'verein' || status.current.name === 'team' || status.current.name === 'kontakt' || status.current.name === 'goenner') }"
                            class="dropdown" dropdown>

                            <a href class="dropdown-toggle" dropdown-toggle>
                                Der Verein <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li><a ui-sref="verein">Was? Warum?</a></li>
                                <li class="divider"></li>
                                <li><a ui-sref="team">Team</a></li>
                                <li><a ui-sref="kontakt">Kontakt</a></li>
                                <li><a ui-sref="goenner">Gönner</a></li>

                            </ul>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="auftreten">Auftreten</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="anfahrt">Anfahrt</a>
                        </li>
                        <li ng-class="{active : (status.current.name === 'event_jahr' || status.current.name === 'event_detail')}"
                            class="dropdown" dropdown>

                            <a href class="dropdown-toggle" dropdown-toggle>
                                Archiv <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="year in eventYears">
                                    <a ng-href="#/event/jahr/{{year}}">{{year}}</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div ui-view></div>


<div class="container">
    <div class="page-footer">
        <div class="row">
            <div class="col-sm-3">
                <p class="slogan">Offni Bühni - bring dein Talent ans Tageslicht.</p>
            </div>
            <div class="col-sm-3">
                <p><b>Verein Offni Bühni Küssnacht</b><br>
                    Zwimattstrasse 2<br>
                    6403 Küssnacht am Rigi<br>
                    <a href="mailto:team@offnibuehni.ch">team@offnibuehni.ch</a></p>
            </div>
            <div class="col-sm-6">
                <p>Auftritte für Singer-Songwriter, Tänzer, Poeten, Comedians, Filmemacher, ... vom blutigen Anfänger
                    bis zum Profi: Für 15 Minuten gehört die Bühne Dir.</p>
            </div>
        </div>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="de_ch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>

<script type="text/ng-template" id="lightbox.html">
    <div class=modal-body ng-swipe-left='Lightbox.nextImage()' ng-swipe-right='Lightbox.prevImage()'>
        <div class=lightbox-image-container>
            <img lightbox-src={{Lightbox.imageUrl}} alt="">
        </div>
        <div class='lightbox-nav'>
            <a class="right carousel-control" ng-click="Lightbox.nextImage()"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            <a class="left carousel-control" ng-click="Lightbox.prevImage()"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="gallery-btn-close" ng-click='$dismiss()'>Schliessen <img ng-src="img/close.png"></a>
        </div>
    </div>
</script>
<script src="js/app.js"></script>
</body>
</html>
