/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url('fonts/montserrat_regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url('fonts/montserrat_bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
}

p {
    color: black;
}

a.email {
    color: #333;
}

@media (min-width: 768px) {

    .content-left {
        border-right: 1px solid black;
    }

    .content-right {
        border-left: 1px solid black;
        margin-left: -1px;
    }

}

@media (max-width: 767px) {
    .img-responsive {
        margin-bottom: 35px;
    }
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: white;
}

nav.navbar {
    margin-bottom: 15px;
}

.header-wrapper {
    border-bottom: black 4px solid;
}

.navbar-brand {
    height: auto;
}

.navbar-nav {
    margin-left: 40px;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-toggle {
    margin-top: 40px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle {
    border-color: black;
}

span.caret {
    margin-left: 8px;
}

.navbar-nav > li > a {
    color: black;
    text-transform: uppercase;

    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;

    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: white;
    color: black;
    border-bottom: 3px solid black;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: white;
}

.content-header {
    height: 40px;
    border: 1px solid black;
    margin: 0 0 15px 0;
}

.content-header p {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}

.veranstaltung-titel {
    text-transform: uppercase;
    color: black;
    margin: 0;
}

h1 {
    border-bottom: 4px solid black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: black;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
}

.artist, .mitglied {
    margin-bottom: 30px;
}

.artist:last-of-type .mitglied:last-of-type {
    margin-bottom: 0;
}

h2 {
    color: black;
}

.artist-name, .mitglied-name, h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.artist-kunst, .artist-name, .mitglied-name, .mitglied-funktion, h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 15px 0 20px 0;
}

.event-footer, .section-footer {
    margin-top: 30px;
    padding-top: 30px;
}

.section-footer {
    border-top: 1px solid black;
}

.section-footer {
    text-transform: uppercase;
}

.event-footer, .page-footer {
    border-top: 4px solid black;
}

.page-footer {
    margin-top: 60px;
    padding-top: 15px;
}

.event-footer > p {
    text-transform: uppercase;
    margin: 0;
}

.slogan {
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control {
    border-radius: 0;
}

.form-group {
    margin-bottom: 9px;
}

.form-section {
    margin-bottom: 35px;
}

.btn-default {
    background-color: black;
    color: white;
    border-radius: 0;

}

.adresse {
    margin-bottom: 35px;
}

.img-responsive {
    width: 100%;
}

.google-maps iframe {
    width: 100% !important;
}

a.content-header-left {
    left: 20px;
}

a.content-header-right {
    right: 20px;
}

a.content-header-left, a.content-header-right {
    display: block;
    position: absolute;
    top: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

a.content-header-left img {
    margin-right: 5px;
}

a.content-header-right img {
    margin-left: 5px;
}

a.flyer-details {
    width: 100%;
    margin-bottom: 30px;
}

.carousel-control {
    color: black;
}

.carousel-control.right, .carousel-control.left {
    background: none;
}

.img-gallery {
    max-height: 180px;
    margin: 0 auto 20px auto;
    display: block;
    border-radius: 0;
}

.gallery-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-group {
    bottom: 0;
}

.lightbox-nav {
    margin-top: 15px;
    margin-bottom: 45px;
}

.modal-dialog {
    overflow: hidden;
}

.gallery-btn-left, .gallery-btn-left:hover, .gallery-btn-right, .gallery-btn-right:hover, .gallery-btn-close, .gallery-btn-close:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    line-height: 12px;
    font-weight: bold;
}

.gallery-btn-right {
    margin-left: 30px;
}

.gallery-btn-close {
    position: absolute;
    right: 15px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    border-radius: 0;
}

.lightbox-nav span.glyphicon {
    color: white;
}