<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Nächste Veranstaltung</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 content-left">
            <carousel>
                <slide ng-repeat="flyer in event.flyers" active="slide.active">
                    <img ng-src="{{flyer}}" class="img-responsive">
                </slide>
            </carousel>
        </div>
        <div class="separator"></div>
        <div class="col-sm-6 content-right">
            <p class="veranstaltung-titel">{{event.titel}} - {{event.slogan}}</p>

            <h1>{{event.datum | date: 'd. MMMM yyyy'}}</h1>

            <div class="artist" ng-repeat="artist in event.artists">
                <p class="artist-name">{{artist.name}}</p>

                <p class="artist-kunst">{{artist.kunst}}</p>
            </div>

            <div class="event-footer">
                <p>{{event.eventtext}}</p>
            </div>
        </div>
    </div>
</div>

