<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <a class="content-header-left" href ng-show="vorherigerEvent"
                   ng-href="#/event/detail/{{vorherigerEvent.id}}">
                    <img ng-src="img/back.png">{{vorherigerEvent.titel}}
                </a>

                <p>{{event.titel}}</p>
                <a class="content-header-right" href ng-show="naechsterEvent"
                   ng-href="#/event/detail/{{naechsterEvent.id}}">
                    {{naechsterEvent.titel}}<img ng-src="img/forward.png">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 content-left">
            <carousel>
                <slide ng-repeat="flyer in event.flyers" active="slide.active">
                    <img ng-src="{{flyer}}" class="img-responsive">
                </slide>
            </carousel>
        </div>
        <div class="separator"></div>
        <div class="col-sm-6 content-right">
            <p class="veranstaltung-titel">{{event.titel}} <span ng-show="event.slogan">- {{event.slogan}}</span>
            </p>

            <h1>{{event.datum | date: 'd. MMMM yyyy'}}</h1>

            <div class="artist" ng-repeat="artist in event.artists">
                <p class="artist-name">{{artist.name}}</p>

                <p class="artist-kunst">{{artist.kunst}}</p>
            </div>

            <div class="event-footer">
                <p>{{event.eventtext}}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-show="event.bilder">
        <div class="col-sm-12">
            <h1>Bilder</h1>
        </div>
        <div ng-controller="GalleryController">
            <div class="col-md-3" ng-repeat="image in images">
                <a ng-click="openLightboxModal($index)" class="gallery-wrapper">
                    <img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-gallery" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

