<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <a class="content-header-left" href ng-show="vorherigesJahr" ng-href="#/event/jahr/{{vorherigesJahr}}">
                    <img ng-src="img/back.png">{{vorherigesJahr}}
                </a>

                <p>Events {{gewaehltesJahr}}</p>
                <a class="content-header-right" href ng-show="naechstesJahr" ng-href="#/event/jahr/{{naechstesJahr}}">
                    {{naechstesJahr}}<img ng-src="img/forward.png">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" ng-repeat="event in events">
            <p class="veranstaltung-titel">{{event.titel}}<span ng-if="event.slogan"> - {{event.slogan}}</span>
            </p>

            <h1>{{event.datum | date: 'd. MMMM'}}</h1>

            <img class="img-responsive clearfix" ng-src="{{event.flyers[0]}}">
            <a ng-href="#/event/detail/{{event.id}}" class="btn btn-default flyer-details">Details</a>

        </div>
    </div>
</div>