<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Anfahrt</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <h1>Wie komm ich hin?</h1>

            <p>
                Unsere Events finden meist im Jugendhaus Oase statt. Dies findet sich unter folgender Adresse:
            </p>

            <p>
                <b>Jugendhaus Oase</b><br>
                Ebnetweg 2<br>
                6403 Küssnacht am Rigi
            </p>

            <p>
                Anreise mit dem Bus bis zur Haltestelle Oberdorf, Parkplätze finden sich beim Schulhaus Ebnet.
            </p>
        </div>
        <div class="col-sm-6">
            <img src="../../img/oase.jpg" class="img-responsive">
        </div>
    </div>
</div>

