<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Auftreten</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <h1>Bring dein Talent ans Tageslicht!</h1>

            <p>Du willst dein Lied vortragen?</p>

            <p>Du möchtest eine Vernissage mit deinen Kunstwerken veranstalten?</p>

            <p>Du möchtest deinen eigenen Film vorführen?</p>

            <p>Du möchtest ein Theaterstück zeigen? </p>

            <p class="section-footer">Dann melde Dich via <a href="mailto:team@offnibuehni.ch">Email</a> oder dem
                Anmeldeformular!</p>

            <img src="../../img/auftreten.jpg" class="img-responsive">


        </div>
        <div class="col-sm-6">

            <h1>Wir bieten dir</h1>

            <p>- Eine Auftrittsmöglichkeit à 15min<br>
                - Eine Bühne 5x4m<br>
                - Deckenfreiheit: 3m<br>
                - Mikrofone inkl. Ständer<br>
                - Eine halbakustische Gitarre<br>
                - Ein Keyboard<br>
                - Ein Djembe<br>
                - Notenständer<br>
                - Einen Beamer inkl. Leinwand<br>
                - Einen Gitarrenverstärker<br>
                - Gratis Verpflegung (Getränke, HotDogs)<br>
            </p>

            <h1>Anmeldeformular</h1>

            <form>
                <p><b>Über Dich</b></p>

                <div class="form-section">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vorname">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nachname">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Telefon">
                    </div>

                </div>
                <p><b>Dein Talent / Kunst</b></p>

                <div class="form-section">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Künstlername">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Talent/Kunst">
                    </div>
                </div>
                <p><b>Sonstiges</b></p>

                <div class="form-group">
                <textarea class="form-control"
                          placeholder="Deine Nachricht an das OffniBühni Team"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Anmeldung abschicken</button>
            </form>
        </div>
    </div>
</div>

