<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Gönner</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <h1>Danke für die Unterstützung!</h1>

            <p>
                Als ehrenamtlicher Verein ist die Offni Bühni auf die Hilfe ihrer Gönner angewiesen. Ab CHF 20 pro Jahr
                kannst auch Du unsere Talentschmiede unterstützen.
            </p>

            <p>
                Trage Dich gleich hier in unsere Gönnerliste ein:
            </p>

            <form>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Vorname">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nachname">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Adresse"></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="PLZ">
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ort">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-default">Gönner werden</button>
            </form>
        </div>
        <div class="col-sm-6">
            <img src="../../img/goenner.jpg" class="img-responsive">
        </div>
    </div>
</div>

