<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Kontakt</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <img src="../../img/kontakt.jpg" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <h1>Erreiche die Bühni!</h1>

            <p class="adresse"><b>Verein Offni Bühni Küssnacht </b><br>
                Juri Dossenbach <br>
                Zwimattstrasse 2 <br>
                6403 Küssnacht am Rigi <br>
                <a href="mailto:team@offnibuehni.ch">team@offnibuehni.ch</a>
            </p>

            <p>Du möchtest auftreten? - <a ui-sref="auftreten">Auftreten</a></p>

            <p>Du möchtest Gönner werden? - <a ui-sref="gönner">Gönner</a></p>
        </div>
    </div>
</div>

