<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Künstler</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <img class="img-responsive clearfix" ng-src="{{aktuellerEvent.flyer}}">
        </div>
        <div class="separator"></div>
        <div class="col-sm-6">
            <p class="veranstaltung-titel">{{aktuellerEvent.titel}}</p>

            <h1>{{aktuellerEvent.datum | date: 'd. MMMM yyyy'}}</h1>

            <div class="artist" ng-repeat="artist in aktuellerEvent.artists">
                <p class="artist-name">{{artist.name}}</p>

                <p class="artist-kunst">{{artist.kunst}}</p>
            </div>

            <div class="event-footer">
                <p>{{aktuellerEvent.eventtext}}</p>
            </div>
        </div>
    </div>
</div>

