<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Team</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <h1>Wir sind OffniBühni!</h1>
            <img class="img-responsive" src="../../img/team.png">
        </div>
        <div class="col-sm-6">
            <div class="mitglied" ng-repeat="mitglied in mitglieder">
                <div class="row">
                    <div class="col-xs-9">
                        <p class="mitglied-name">{{mitglied.name}}</p>
                        <p class="mitglied-funktion" ng-repeat="funktion in mitglied.funktionen">{{funktion}}</p>
                    </div>
                    <div class="col-xs-3">
                        <img class="img-responsive" ng-src="{{mitglied.bild}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

