<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="content-header">
                <p>Was? Warum?</p>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-6">
            <h1>Was ist Offni Bühni?</h1>
        </div>
        <div class="col-sm-6">
            <p>ToDo</p>
        </div>
    </div>
</div>

